body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
    background-color: plum;
    justify-content: center;
  }
  
  .heading {
    display: block;
    text-align: center;
    font-size: xx-large;
    font-family: cursive;
    color: black;

  }
  .mainpage{
    text-align: center;

  }
  .subpage {
    
    background: lavenderblush;
    height: 600px;
    width: 700px;
    border-radius: 100px;
    align-content: center;
    text-align: center;
    
  }
  
  .form {
    background-color: #15172b;
    border-radius: 20px;
    box-sizing: border-box;
    height: 500px;
    padding: 20px;
    width: 400px;
    display: inline-table;
  }
  
  .title {
    color: #eee;
    font-family: sans-serif;
    font-size: 36px;
    font-weight: 600;
    margin-top: 30px;
  }
  
  .subtitle {
    color: #eee;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;
  }
  
  .input-container {
    height: 50px;
    position: relative;
    width: 100%;
  }
  
  .ic1 {
    margin-top: 40px;
  }
  
  .ic2 {
    margin-top: 30px;
  }
  
  .input {
    background-color: #303245;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    font-size: 18px;
    height: 100%;
    outline: 0;
    padding: 4px 20px 0;
    width: 100%;
  }
  
  .cut {
    background-color: #15172b;
    border-radius: 10px;
    height: 20px;
    left: 20px;
    position: absolute;
    top: -20px;
    transform: translateY(0);
    transition: transform 200ms;
    width: 76px;
  }
  
  .cut-short {
    width: 50px;
  }
  
  .input:focus ~ .cut,
  .input:not(:placeholder-shown) ~ .cut {
    transform: translateY(8px);
  }
  
  .placeholder {
    color: #65657b;
    font-family: sans-serif;
    left: 20px;
    line-height: 14px;
    pointer-events: none;
    position: absolute;
    transform-origin: 0 50%;
    transition: transform 200ms, color 200ms;
    top: 20px;
  }
  
  .input:focus ~ .placeholder,
  .input:not(:placeholder-shown) ~ .placeholder {
    transform: translateY(-30px) translateX(10px) scale(0.75);
  }
  
  .input:not(:placeholder-shown) ~ .placeholder {
    color: #808097;
  }
  
  .input:focus ~ .placeholder {
    color: #dc2f55;
  }
  
  .submit {
    background-color: #08d;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    cursor: pointer;
    font-size: 18px;
    height: 50px;
    margin-top: 38px;
     outline: 0;
    text-align: center;
    width: 100%;
  }
  
  .submit:active {
    background-color: #06b;
  }

  .image-blob {
    width: 60%;
    align-items: center;
     display: inline;
    justify-content: center;
  }
  * {
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  :root {
    --hue: 223;
    --bg: hsl(var(--hue),90%,90%);
    --fg: hsl(var(--hue),90%,10%);
    --trans-dur: 0.3s;
    font-size: calc(16px + (20 - 16) * (100vw - 320px) / (1280 - 320));
  }
  body {
    background-color: plum;
    color: var(--fg);
    font: 14px "Century Gothic", Futura, sans-serif;
    height: 100vh;
    display: grid;
    place-items: center;
    transition:
      background-color var(--trans-dur),
      color var(--trans-dur);
  }
  .smiley {
    width: 8em;
    height: 8em;
  }
  .smiley__eye1,
  .smiley__eye2,
  .smiley__mouth1,
  .smiley__mouth2 {
    animation: eye1 3s ease-in-out infinite;
  }
  .smiley__eye1,
  .smiley__eye2 {
    transform-origin: 64px 64px;
  }
  .smiley__eye2 {
    animation-name: eye2;
  }
  .smiley__mouth1 {
    animation-name: mouth1;
  }
  .smiley__mouth2 {
    animation-name: mouth2;
    visibility: hidden;
  }
  
  /* Dark theme */
  @media (prefers-color-scheme: dark) {
    :root {
      --bg: hsl(var(--hue),90%,10%);
      --fg: hsl(var(--hue),90%,90%);
    }
  }
  
  /* Animations */
  @keyframes eye1 {
    from {
      transform: rotate(-260deg) translate(0,-56px);
    }
    50%,
    60% {
      animation-timing-function: cubic-bezier(0.17,0,0.58,1);
      transform: rotate(-40deg) translate(0,-56px) scale(1);
    }
    to {
      transform: rotate(225deg) translate(0,-56px) scale(0.35);
    }
  }
  @keyframes eye2 {
    from {
      transform: rotate(-260deg) translate(0,-56px);
    }
    50% {
      transform: rotate(40deg) translate(0,-56px) rotate(-40deg) scale(1);
    }
    52.5% {
      transform: rotate(40deg) translate(0,-56px) rotate(-40deg) scale(1,0);
    }
    55%,
    70% {
      animation-timing-function: cubic-bezier(0,0,0.28,1);
      transform: rotate(40deg) translate(0,-56px) rotate(-40deg) scale(1);
    }
    to {
      transform: rotate(150deg) translate(0,-56px) scale(0.4);
    }
  }
  @keyframes eyeBlink {
    from,
    25%,
    75%,
    to {
      transform: scaleY(1);
    }
    50% {
      transform: scaleY(0);
    }
  }
  @keyframes mouth1 {
    from {
      animation-timing-function: ease-in;
      stroke-dasharray: 0 351.86;
      stroke-dashoffset: 0;
    }
    25% {
      animation-timing-function: ease-out;
      stroke-dasharray: 175.93 351.86;
      stroke-dashoffset: 0;
    }
    50% {
      animation-timing-function: steps(1,start);
      stroke-dasharray: 175.93 351.86;
      stroke-dashoffset: -175.93;
      visibility: visible;
    }
    75%,
    to {
      visibility: hidden;
    }
  }
  @keyframes mouth2 {
    from {
      animation-timing-function: steps(1,end);
      visibility: hidden;
    }
    50% {
      animation-timing-function: ease-in-out;
      visibility: visible;
      stroke-dashoffset: 0;
    }
    to {
      stroke-dashoffset: -351.86;
    }
  }